.container-fluid{
  background-color:rgb(227, 229, 230);
  height:100vh;
}
.container{
  width:50%;
 
  background-color: rgb(227, 229, 230);
  height: auto;
}
.btn{
  width:30%;
  margin-left:30%;
}